doctype html
html(ng-app='zombie-pets', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Zombie Pets
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
  body(ng-controller='MainController')
    .container
      .row
        .col-xs-12
          h1 {{title}}
      .row
        .col-xs-12
          h3 Fight!
          #cage(ng-show='player1 && player2')
            #player1.thumbnail(style='background-image:url("{{player1.photo}}");', ng-class='{"zombie": player1.isZombie}')
              .name.text-center {{player1.name}}
              h6 Weapon: {{player1.weapon.name}}
              h6 Damage: {{player1.weapon.damage}}
              .progress
                div.progress-bar(role='progressbar', ng-class='{"progress-bar-danger": player1.health <= 10}', aria-valuenow='{{player1.health}}', aria-valuemin='0', aria-valuemax='100', style='width: {{player1.health}}%;')
            a#fight-btn(href='#' ng-click='fight()').btn.btn-lg.btn-danger Fight!

            #player2.thumbnail.pull-right(style='background-image:url("{{player2.photo}}");', ng-class='{"zombie": player2.isZombie}')
              .name.text-center {{player2.name}}
              h6 Weapon: {{player2.weapon.name}}
              h6 Damage: {{player2.weapon.damage}}
              .progress
                .progress-bar(role='progressbar', ng-class='{"progress-bar-danger": player2.health <= 10}', aria-valuenow='{{player2.health}}', aria-valuemin='0', aria-valuemax='100', style='width: {{player2.health}}%;')
      .row
        .col-xs-4.form
          h3 Create Weapon
          button.btn.btn-info.btn-xs.pull-right(ng-click='toggleWeapon()') Toggle Form
          form(role='form', name='weaponForm', novalidate, ng-hide='hideWeapon')
            .form-group
              label(for='name') Name
              input.form-control#name(ng-model='weapon.name', ng-minlength='3', ng-maxlength='15' type='text', name='name', required, autofocus)
            .form-group
              label(for='photo') Photo
              input.form-control#photo(ng-model='weapon.photo', ng-pattern='/^http/', type='text', name='photo', required)
            .form-group
              label(for='damage') Damage
              input.form-control#damage(ng-model='weapon.damage', type='number', name='damage', required)

            button.btn.btn-primary.btn-md.pull-right(type='submit', ng-click='addWeapon()' ng-show='weaponForm.$valid') Add Weapon

          .col-xs-12.debug-list
            pre {{weapon | json}}
            pre {{weapons | json}}
        .col-xs-8
          .weapon.thumbnail(ng-repeat='w in weapons', style='background-image:url("{{w.photo}}");')
            .name.text-center {{w.name}}
              .damage.pull-right {{w.damage}}
      .row
        .col-xs-4.form
          h3 Create Pet
          button.btn.btn-info.btn-xs.pull-right(ng-click='togglePet()') Toggle Form
          form(role='form', name='petForm', novalidate, ng-hide='hidePet')
            .form-group
              label(for='name') Name
              input.form-control#petname(ng-model='pet.name', type='text', name='petname', required)
            .form-group
              label(for='photo') Photo
              input.form-control#petphoto(ng-model='pet.photo', ng-pattern='/^http/', type='text', name='petphoto', required)
            .form-group
              label(for='damage', type='number', readonly, ng-model='pet.health') Health 100
            .form-group
              label(for='weapon')
              select(name='weapon', ng-model='pet.weapon')
                option(ng-repeat='w in weapons', value='{{$index}}') {{w.name}}

            button.btn.btn-primary.btn-md.pull-right(type='submit', ng-click='addPet()' ng-show='petForm.$valid') Add Pet

          .col-xs-12.debug-list
            pre {{pet | json}}
            pre {{pets | json}}
            pre {{player1 | json}}
            pre {{player2 | json}}
        .col-xs-8
          .weapon.thumbnail(ng-repeat='p in pets', style='background-image:url("{{p.photo}}");')
            .name.text-center {{p.name}}
            .petname.text-center {{p.weapon.name}}
            button.btn.btn-xs.btn-warning(ng-click='setPlayer(1)') 1
            button.btn.btn-xs.btn-warning.pull-right(ng-click='setPlayer(2)') 2

    script(src='/vendor/angular/angular.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/index.js')
